* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.cv-paper {
  border: 1px solid black;
  width: 800px;
  margin: 0 auto 4rem;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 
    0 2px 5px rgba(0, 0, 0, 0.1),   /* soft overall shadow */
    0 10px 20px rgba(0, 0, 0, 0.1); /* deeper lift */
  background-image: url(../assets/paper-texture.jpg);
  background-size: contain;
  border-radius: 3px;
}

.section {
  display: none;
}

.section-heading {
  font-size: 3rem;
  text-align: center;
  margin: 0 0rem 4rem 0rem;
}

.section-inputs {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0.8rem;
}

.form-input {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.input-label {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.input-field {
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
}

.section-break {
  border: none;       /* remove default border if you want */
  border-top: 2px solid black; /* the visible line */
  margin: 3.5rem 0;     /* spacing works correctly */
  height: 0;          /* usually fine */
}

.jobsList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.job-section {
  padding: 4rem 2rem;
  background-color: rgb(170, 170, 170);
  border-radius: 1rem;
  color: rgb(26, 26, 26);
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 2rem;
  position: relative;
}

.delete-job-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: #e53935;
  color: #f5f5f5;
  transition: background-color 0.5s;
}

.delete-job-btn:hover {
  background-color: #c62828;
  cursor: pointer;
}

.jobResponsibilities-section {
  grid-column: 1 / -1;
}

.jobResponsibilities-section > label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}

.jobResponsibilities-section textarea {
  resize: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.add-job-btn {
  align-self: center;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: aqua;
  transition: background-color 0.4s ease;
}

.add-job-btn:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.submitCV-btn {
  padding: 1rem 2rem;
  background-color: rgb(255, 255, 0);
  font-size: 2rem;
  font-weight: 600;
  border-radius: 1rem;
  display: block;
  margin: 2rem auto;
  transition: background-color 0.5s;
}

.submitCV-btn:hover {
  cursor: pointer;
  background-color: lightgreen;
}